body {
	padding: 0 2vw; /** Responsive padding **/
	font-size:20px;

}
main, footer{
  line-height: 1.4;
  max-width: 1400px;
}


header {
	width: 100%;

}

header h1  {
	width: 100%;
}

header > div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

}

footer{
	margin:3em 0;
}

footer .text > * {
	font-size: .8em;
	margin: 1.2em 0 ;
}


button {
	height: 2em;
	position: absolute;
	right: 0;
	bottom: 4.5em;
}
img {
	max-width: 100%;
	max-height: 80vh;
	}

 .item  {
	margin-top: 5rem;
	display:flex;
	justify-content: start;
	align-items: start;
	flex-direction:column;
	gap:.5em
}

@media (min-width: 800px) {
	.item {
		flex-direction:row;
		gap:3em;
	}
}
@media (max-width: 799px) {

	.item div {
			display: flex;
			width: 100%;
			justify-content: space-between;
			flex-wrap:wrap;
		}
	.item h2 {
		margin:0em;
	}
}

.item h2 {
	margin-top:0em;
}

