body {
	  padding: 0 2vw; /** Responsive padding **/

}
main, footer{
  line-height: 1.4;
  max-width: 750px;
}


header {
	width: 100%;

}

header > div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer{
	margin:3em 0;
}

footer .text > * {
	font-size: .8em;
	margin: 1.2em 0 ;
}


button {
	height: 2em
}
img {
	max-width: 100%;
	max-height: 80vh;
	}

body main .item  {
	margin-top: 2rem;
	display:flex;
	flex-direction:row;
	justify-content: start;
	align-items: start;
}

.item h2 {
	margin-top:0em;
}

