---
pagination:
  data: collections.everything
  size: 1
  alias: word
permalink: "/{% if pagination.pageNumber == 0 %}index{% else %}/{{ word.hrefSelf }}{% endif %}.html"
---
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<title>Tu persistes ↢↣</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{meta.baseURL}}style.css">
	</head>
	<body>
		<main>
			<div class="section-1">
				{% if word.hrefUp %}
					{% if pagination.pageNumber == 1 %}
						<a href="{{meta.baseURL}}.html">Haut</a>
					{% else %}
						<a href="{{meta.baseURL}}{{word.hrefUp}}.html">Haut</a>
					{% endif %}
				{% else  %}
					<a aria-disabled>Haut</a>
				{%endif %}
			</div>

			<div class="section-2">
				{% if word.hrefLeft %}
					<a href="{{meta.baseURL}}{{word.hrefLeft}}.html" >Gauche</a>
				{% else  %}
					<a aria-disabled >Gauche</a>
				{% endif %}
				<h1>{{word.word}}</h1>
				{% if word.hrefRight %}
					<a href="{{meta.baseURL}}{{word.hrefRight}}.html" >Droite</a>
				{% else  %}
					<a aria-disabled >Droite</a>
				{% endif %}
			</div>
			<div class="section-3">
				{% if word.hrefDown %}
					<a href="{{meta.baseURL}}{{word.hrefDown}}.html" >Bas</a>
				{% else  %}
					<a aria-disabled >Bas</a>
				{%endif %}
			</div>
		</main>
		<footer>
			<p>Position : {{word.x}} × {{word.y}}</p>
			<a id="open" href="#" role=button>À Propos</a>
		</footer>

		<dialog closedby="any">
			<p> Source : <i>L'Adresse - Les rendez-vous du déversoir</i> de Arthur Teboul, page 100.</p>
			<p>Page choisie au hasard et soumise par <a href="/~slowpy/">slowpy.</a>
			</p>
			<button autofocus>Fermer</button>
		</dialog>
	</body>

	<script>

		const main = document.getElementById("main")

		function modal() {
			const dialog = document.querySelector("dialog")
			const showButton = document.querySelector("#open")
			const closeButton = document.querySelector("dialog button")

			showButton.addEventListener("click", (e) => {
				e.preventDefault()
				dialog.showModal()
			})

			closeButton.addEventListener("click", () => {
				dialog.close()
			})
		}

		document.addEventListener("DOMContentLoaded", () => {
			modal()
		})
	</script>
</html>