main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1em;
}

@media (min-width: 800px) {
	body main {
		font-size: 2em;
		gap: .5em
	}
}

@media (max-width: 799px) {
	body main {
		font-size: 1.1em;
		gap: .5em
	}
	main .section-2 {
		gap: 1em;

	}
}


body main .section-2 a {
font-size: .7em
}

body, html {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center
}

body {
	gap: 3em
}

.section-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 2em;
}

footer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: .5em
}

@view-transition {
	navigation: auto;
	}

* Keyframes for blending when there are 2 images */
@keyframes -ua-mix-blend-mode-plus-lighter {
  from {
    mix-blend-mode: plus-lighter;
  }
  to {
    mix-blend-mode: plus-lighter;
  }
}

@keyframes -ua-view-transition-fade-in {
  from {
    opacity: 0;
  }
}
/* Apply the custom animation to the old and new page states */
::view-transition-old(header) {
	animation: 0.2s ease-in both -ua-mix-blend-mode-plus-lighter;
}

::view-transition-new(header) {
	animation: 0.2s ease-in both -ua-mix-blend-mode-plus-lighter;
}
h1 {
	view-transition-name: header
}